#################################################
#                                               #
#                  .gitignore                   #
#                                               #
#################################################

#################################################
#                  Base  Files                  #
#################################################
a.out

#################################################
#                  Temp  Files                  #
#################################################
*~
*.o
.vscode

#################################################
#               Criterion Files                 #
#################################################
unit_tests
*.gcno
*.gcda

#################################################
#                Project Files                  #
#################################################
navy
pos1
pos2
pos3
pos4
pos5
pos6
clean_files
